@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
